{% extends 'productmanagementbase.html' %}
{% load static %}
{% load productmanagement_custom_tags %}
{% block csscontent %} 
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" >
<link rel="stylesheet" href="{% static 'productmanagement/css/style.css' %}">
{% endblock csscontent %}

{% block contenttitle %} Category List {% endblock contenttitle %}
{% block content %}
  <div class="container mt-3">
    <div class="row">
	    <div class="col-md-9"></div>
	    <div class="col-md-3"><a href="{% url 'createcategory' %}">Create Category </a></div>
	</div>
    <table class="table table-bordered">
    <thead>
      <tr>
	    <th>S.No.</th>
        <th>Category ID</th>
        <th>Category Code</th>
        <th>Description</th>
		<th>Status</th>
		<th>Action</th>
      </tr>
    </thead>
    <tbody>
	  
      {% for category in categories %}
	    <tr class="{% rowcss category.status %}">
		  <td>{% counter_tag %}</td>
		  <td>{{category.cat_id}}</td>
		  <td>{{category.category_code}}</td>
		  <td>{{category.description}}</td>
		  <td>{% if category.status == 1 %}
		         Active 
			 {% endif %}
		  </td>
		  <td><a href="{% url 'categoryedit' category.cat_id %}">Edit</a> <a href="{% url 'categorydelete' category.cat_id %}">Delete</a></td>
		</tr>
      {% endfor%}
    </tbody>
  </table>
 </div> 
{% endblock content %}

{% block jscontent %} 
<script src="{% static 'productmanagement/js/main.js' %}" ></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
{% endblock jscontent %}

{% block footercontent %}
{% include "productmanagement/include/footer.html" %}
{% endblock footercontent %}